*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans";
}


img{
  width: 100%;
}

body{
  background-color: rgb(21, 21, 34);
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}